<h3 class="font-family: sans-serif">Hello, <%= @user.email %></h3>

<p> Thank you for registering with Red not Blue.

Please take some time to go back and complete your profile by following the link below:

<%= link_to "Complete profile", "https://rednotblue.co.uk/profile/edit" %>


