<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1>Editing post</h1>
      <%= simple_form_for([@post, @comment]) do |f| %>
        <%= f.input :content, placeholder: "Enter a title" %>
        <%= f.submit class: "btn btn-danger"%>
      <% end %>
    </div>
  </div>
</div>
