<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: linear-gradient(-225deg, rgba(50,120,168,0.9) 0%, rgba(40,45,61,0.5) 60%), url('https://i.ytimg.com/vi/zt6WdnrAvpE/maxresdefault.jpg');">

        <div class="banner-gradient-shadow"></div>
          <div class="banner-content banner-font">
            <h1>
              Roses are red tories are blue
            </h1>
            <p>
              <strong>Reporting current affairs</strong> left wing <strong> views &amp; opinions</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>


<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('background.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Some stuff</h2>
    <p>Very cool stuff, useful and smart</p>
  </div>
  <img class="card-user avatar" src="user.jpg">
  <a class="card-link" href="#" ></a>
</div>
</div>
</div>
</div>


<!--
   </div>
  </div>
</div>
<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: url('/assets/banners/alumni-37430fa9e59605b6ad4cf9fbf0fbd135949db9a2c68807a279217a5150999b14.jpg');">
      <div class="banner-gradient-shadow"></div>
      <div class="banner-content">
        <h1>
          Le Wagon&#39;s Alumni
        </h1>
        <p>
          <strong>690+ talented students</strong> sharing the same <strong>skills & passion</strong>.

        </p>
      </div>
    </div> -->
