<div class="banner-container">
  <div class="container">
    <div class="banner banner-top banner-gradient text-center" style="background-image: linear-gradient(-225deg, rgba(150,30,100,0.9) 0%, rgba(220,8,61,0.5) 30%), url('https://i.ytimg.com/vi/zt6WdnrAvpE/maxresdefault.jpg');">

        <div class="banner-gradient-shadow"></div>
          <div class="banner-content banner-font">
            <h1>
              Roses are red, Tories are blue
            </h1>
            <p>
              <strong>Reporting current affairs</strong> left wing <strong> views &amp; opinions</strong>.
            </p>
          </div>
        </div>
      </div>
    </div>


<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-xs-12 col-sm-3">
        <div class="card">
        </div>
          <%= render "card", post: post %>
      </div>
    <% end %>
  </div>
</div>




        </p>
      </div>
    </div> -->
