
<% if @post.photos.first %>
  <% main_post_photo = cl_image_path @post.photos.first.path %>
<% else %>
  <% main_post_photo = "" %>
<% end %>

<% if @post.video.first %>
  <% main_post_video = cl_video_tag(@post.video.first.path, options = {:width => 700, :height => 400, :crop => :scale, :preload => "none", :controls => true, :fallback_content => "Your browser does not support HTML5 video tags"}) %>
<% else %>
  <% main_post_video = "" %>
<% end %>



<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <%= main_post_video %>
      <div class="card-img" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.0) 100%, rgba(0,36,61,0.0) 100%), url('<%= main_post_photo %>') ;">
      </div>



      <div class="padded col-xs-12">
        <p><%= simple_format(@post.post_content) %></p>
      </div>
    </div>
  </div>
</div>


