<div class="media">
<div class="col-xs-12">
  <div class="media-body">
    <div class="media-section">
      <h2><%= @post.photo.first %></h2>
    </div>
    <div class="media-section">
      <h3><%= @post.title %></h3>
      <p><%= @post.post_content %></p>
    </div>
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h4>Share this story!</h4>
      <%= render "posts/share" %>
    </div>
    <div class="media-section">
      <h2>TODO</h2>
    </div>
  </div>
</div>
</div>
