<div class="media">
  <div class="col-xs-12">
    <div class="media-body">
    </div>
    <div class="media-section">
    </div>
    <div class="media-section">
  </div>
  <div class="media-aside">
    <div class="media-section">
      <h4>Functionality to follow shortly</h4>
      <%= render "posts/share" %>
    </div>
    <div class="media-section">
      <h2></h2>
    </div>
  </div>
</div>
</div>
