.card {
  height: 150px;
  width: 1140px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin-top: 20px;
  border-radius: 5px;
  color: #8D0002;
  position: relative;
}

.card-img {
  height: 70vh;
  width: 600px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  margin-top: 20px;
  border-radius: 5px;
  color: #8D0002;
  position: relative;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 10px;
  border-radius: 5px;
}
.card-description {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 16px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}
