
.comment-card {
  margin-top: 10px;
  height: 20vh;
  background-size: cover !important;
  color: #8D0002;
  padding-top: 10px;
  position: relative;
  background-color: #F8F7F7;
  border-radius: 5px;
  flex: 0 0 400px;
}

