@import "social-share-button";
// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

$size: 50px;

.social-share-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ssb-icon {
  background-image: none;
  flex: 0 0 24%;
  color: white;
  background-size: $size $size;
  height: $size;
  width: $size;
  padding: 10px 0;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  &:hover {
    color: white;
    opacity: 0.8;
  }
}
.ssb-linkedin {
  background: #4a4a4a;
  height: 50px;
  text-decoration: none;
  background-image: "";
}
.ssb-email{
  background: #aeaeae;
}
.ssb-twitter{
  background: #00a3e1;
}
.ssb-facebook{
  background: #3b5998;
}
